.contactoSucursales{
    @include flex (column, center, center, nowrap);
    background: rgb(223,210,201);
    background: radial-gradient(circle, #dfd2c9 64%, #4e738d 97%, #02416e 100%);
    padding-bottom: 8rem;

    .contactoSucursales__h1{
        color: $colorPrimario;
        text-align: center;
        padding: 4rem;
        width: 100%;
        background-color: rgba(161, 154, 149, 0.822);
    
        @media (max-width: 576px){
            font-size: 2rem;
        }
    }
    
    .contactoSucursales__h2{
        color: $colorPrimario;
        text-align: center;
        margin-bottom: 7rem;
        padding: 4rem;
        width: 100%;
        box-shadow: 0 10px 15px $colorBordes;
    
        @media (max-width: 576px){
            font-size: 2rem;
        }
    }

    .container{
        @include flex (row, space-evenly, center, nowrap);        
        width: 80%;
        
        @media (max-width: 970px){
            width: 100%;
        }
        @media (max-width: 768px){
            flex-direction: column;
            width: 80%;
        }

        .contactoSucursales__Cuadro{
            @include flex (column, center, center, nowrap); 
            border: 2px outset $colorBordes;
            margin: 2rem 0;
            padding: 2rem;
            box-shadow: 0 10px 15px $colorBordes;
            width: 30%;

            @media (max-width: 768px){
                width: 60%;
            }

            @media (max-width: 576px){
                width: 90%;
            }


            &:hover {
                transform: scale(1.1);
                background-color: $colorCuadro;
            }

            .cuadro__h3{
                text-align: center;
                margin: 1rem 0 2rem 0;
                color: $colorPrimario;
            }
            .div__imagenSucursales{
                width: 90%;
                margin-bottom: 2rem;

                .imagen__sucursales{
                    width: 100%;
                }
            }

            .cuadro__text{
                width: 100%;
                text-align: left;
                color: $colorPrimario;

                @media (max-width: 768px){
                    font-size: 1rem;
                }
            }

        }
    }
}