.contactoForm{
    @include flex (column, center, center, nowrap);
    background: rgb(223,210,201);
    background: radial-gradient(circle, #dfd2c9 64%, #4e738d 97%, #02416e 100%);
    box-shadow: 0 -10px 15px $colorBordes;

    .contactoForm__h2{
        color: $colorPrimario;
        text-align: center;
        margin-bottom: 7rem;
        padding: 4rem;
        box-shadow: 0 10px 15px $colorBordes;
        width: 100%;
    
        @media (max-width: 576px){
            font-size: 2rem;
        }
    }

    .container{
        @include flex (column, center, center, nowrap);
        width: 40%;
        margin-bottom: 10rem;
        padding: 3rem;

        @media (max-width:1100px){
            width: 60%;
            padding: 1rem;
        }
        @media (max-width:768px){
            width: 80%;
            padding: 1rem;
        }
        @media (max-width:450px){
            width: 90%;
            padding: 0rem;
        }

        .contactoForm__form{
            @include flex (column, center, center, nowrap);
            width: 85%;

            @media (max-width:450px){
                width: 90%;
                padding: 0rem;
            }

            .form__fieldset{
                border: 2px outset $colorBordes;
                padding: 5rem;
                margin:1rem;
                box-shadow: 0 10px 15px $colorBordes;

                @media (max-width:450px){
                    padding: 3rem 1rem;
                }

                .form__input{
                    @include flex (column, center, center, nowrap);
                    margin: 1rem;
                    
                    .form__label{
                        color: $colorPrimario;
                        text-align: center;
                    }

                    .form__control{
                        border:1px solid #a39083;
                        background-color: $colorSecundario;
                        box-shadow: 0 5px 15px $colorBordes;
                    }
                }

                .form__input--ancho{
                    width: 70%;
                    margin: auto;
                }
            }

            .form__cuadroBoton{
                @include flex (column, center, center, nowrap);
                margin: 3rem;

                .form__boton{
                    border-color: $colorPrimario;
                    color: $colorPrimario;
                    width: 15rem;
                    height: 5rem;
                    font-size: 2rem;
                    border-radius: 10px;
                    box-shadow: 0 10px 15px $colorBordes;

                    &:hover {
                        background-color: darken($color: $colorSecundario, $amount: 30%);
                        color: lighten($color: $colorSecundario, $amount: 20%)
                    }

                    @media (max-width:768px){
                        width: 10rem;
                        height: 3rem;
                        font-size: 1.5rem;
                    }
                }

            }
        }
    }
}