.cuentaForm{
    @include flex (column, center, center, nowrap);
    background: rgb(223,210,201);
    background: radial-gradient(circle, #dfd2c9 64%, #4e738d 97%, #02416e 100%);

    .cuentaForm__h1{
        color: $colorPrimario;
        text-align: center;
        margin-bottom: 2rem;
        padding: 4rem;
        width: 100%;
        background-color: rgba(161, 154, 149, 0.822);
        box-shadow: 0 10px 15px $colorBordes;
    
        @media (max-width: 576px){
            font-size: 2rem;
        }
    }

    .container{
        @include flex (column, center, center, nowrap);
        width: 40%;
        margin-bottom: 10rem;
        padding: 3rem;
        
        @media (max-width:968px){
            width: 60%;
        }
        @media (max-width:768px){
            width: 70%;
        }
        @media (max-width:576px){
            width: 80%;
        }
        @media (max-width:400px){
            width: 90%;
        }
        @media (max-width:300px){
            width: 100%;
        }

        .cuentaForm__form{
            @include flex (column, center, center, nowrap);
            width: 85%;

            @media (max-width:576px){
                width: 90%;
            }
            @media (max-width:400px){
                width: 100%;
            }

            .form__fieldset{
                border: 2px outset $colorBordes;
                padding: 5rem;
                margin: 1rem;
                box-shadow: 0 10px 15px $colorBordes;
                
                @media (max-width:576px){
                    padding: 1rem;
                }
                @media (max-width:400px){
                    padding: 1rem;
                }

                .form__input{
                    @include flex (column, center, center, nowrap);
                    margin: 1rem;
                    border-bottom: 5px solid $colorSecundario;

                    .form__label{
                        color: $colorPrimario;
                        text-align: center;
                    }

                    .form__control{
                        border:1px solid #a39083;
                        background-color: $colorSecundario;
                        box-shadow: 0 5px 15px $colorBordes;

                        @media (max-width:576px){
                            width: 90%;
                        }
                        @media (max-width:400px){
                            width: 100%;
                        }
                    }
                }
            }

            .form__cuadroIngreso{
                display: flex;
                justify-content: center;
                margin: 3rem;

                .form__enlace{
                    color: $colorPrimario;
                    padding: 1rem;
                    border-radius: 5px;

                    &:hover {
                        background-color: darken($color: $colorSecundario, $amount: 30%);
                        color: lighten($color: $colorSecundario, $amount: 20%)
                    }

                    @media (max-width:768px){
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}