.footer{
    background-color: $colorSecundario;
    @include flex(row,space-between,center,nowrap);
    box-shadow: 0 -10px 15px $colorBordes;

    .wps{
        @include flex(row,center,center,nowrap);
        text-align: center;
        padding: 0;
        margin:0;
        color: white;
        background-color: rgb(0, 252, 0);  
        position: fixed;
        width: 55px;
        height: 55px;
        border-radius: 50px;
        bottom:200px;
        right: 15px;
        z-index: 100;
        

        &:hover{
            background-color: white;
            color:rgb(0, 252, 0);
            box-shadow: 0 5px 10px green;
        }

        @media (max-width: 576px){
            display: none;
        }
    }

    .container{
        @include flex(row,space-between,center,nowrap);
        margin: 3rem auto;

        .footer__div{
            @include flex(row,space-between,center,nowrap);            
            
            .footer__telefono{
                @include flex(column,center,center,nowrap);
                margin-left: 10rem;

                .telefono__enlace{
                    color: black;
                    font-size: 20px;
                    margin-bottom: 1rem;
                    border-bottom: 2px solid black;
                }

                .telefono__icono{
                    @include flex(row,center,center,nowrap);
                }
            }

            .footer__redes{
                display: flex;
                
                .footer__link{
                    display: flex;
                    font-size: 3rem;
                    margin: 0.5rem;
                }
            }
        }

        .footer__logo{
            text-align:right;
            font-size: 5rem;
            color: $colorPrimario;
            margin: 2rem 1rem 2rem 0;
            font-family: $fuenteTitulo;

            .footer__span{
                display: block;
                text-align: right;
                transform: translate(10px, -10px);
                font-family: $fuenteTitulo;
            }
        }


    }

}


@media (max-width: 576px){
    .footer{
        .container{
            flex-direction: column;

            .footer__div{
                flex-direction: column;

                .footer__telefono{
                    margin-left: 0;
                }
                
                .footer__redes{
                    flex-direction: column;
                }
            }   

        }
    }
}