.header{
    @include flex(row, center, center, nowrap);
    
    .container{
        @include flex (column,center,center,nowrap);
        padding: 0;        

        .header__divtitulo{
            @include flex(row,space-between,center,nowrap);
            background-color: black;
            width:100%;

            .header__imagen{
                width: 100%;
            }
        }

        .header__divnav{
            @include flex(row,center,center,nowrap);
            background-color: $colorPrimario;
            width:100%;

            .nav__boton{
                 background-color: $colorSecundario;   
            }

            .nav_enlace{
                color:white;
                border-bottom: 3px solid $colorPrimario;

                &:hover {
                    transform: scale(1.2);
                    background-color: $colorPrimario;
                    color: $colorSub;
                    border-bottom: 3px solid $colorSub;
                }

            }

            .nav_enlace--dropdown{
                color:$colorSecundario;
                
                &:hover {
                    transform: scale(1.1);
                    background-color: $colorPrimario;
                    color: lighten($color: $colorSecundario, $amount: 20%);
                }
            }

            .dropdown-menu{
                background-color: $colorPrimario;
                width: 250px;
                text-align: center;
            }
        }
    }
}