.indexCarrusel{
    @include flex(row,center,center,nowrap);
    background-color: #f7f1ef;

    .container{
        padding: 0;
    
        .div__carrusel{
            width:100%;
            margin: 0;
            padding: 0;
            box-shadow: 0 15px 10px $colorBordes;

            .carrusel__titulo{
                text-align: left;
            }
        }
    }

}