.indexSecpromociones{
    @include flex(row,center,center,nowrap);
    background: rgb(223,210,201);
    background: radial-gradient(circle, rgba(223,210,201,1) 64%, rgba(78,115,141,1) 97%, rgba(2,65,110,1) 100%);


    .container{
        padding: 0;

        @media (max-width: 768px){
            width: 100%;
        }
        
            .h2__promociones{
                color: $colorPrimario;
                text-align: center;
                margin-bottom: 7rem;
                padding: 4rem;
                box-shadow: 0 10px 15px $colorBordes;
                width: 100%;
            
                @media (max-width: 576px){
                    font-size: 2rem;
                }
            }
        
            .div__ul{
                @include flex(row,center,center,nowrap);
        
                .promociones__ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    list-style: none;
        
                    @media (max-width: 768px){
                        flex-direction: column;
                    }
        
                    .divli__promociones{
                        background-color: lighten($color: $colorSecundario, $amount: 10%);
                        border-radius: 5px;
                        border-top: solid 5px;
                        padding-bottom: 5px;
                        border-top-color: $colorPrimario;
                        box-shadow: 0 15px 15px $colorBordes;
        
                        &:hover{
                            transform: scale(1.1);
                        }

                        .font-20{
                            @media (max-width: 500px){
                                font-size: 1.5rem;
                            }
                        }

                        .font-30{
                            @media (max-width: 500px){
                                font-size: 2rem;
                            }
                        }
        
                        .promociones__precio{
                            text-align: center;
                            background-color: $colorSecundario;
                            height: 10rem;
        
                            .promo__tachado{
                                text-decoration: line-through;
                            }
                        }
        
                        .promo__icono{
                            color:$colorPrimario;
                        }
        
                        .accordion-button:not(.collapsed){
                            color:$colorBordes;
                        }
                        
                        .accordion-button{
                            background-color: $colorBordes ;
                        }
                        
                        .accordion-item{
                            background-color: lighten($color: $colorBordes, $amount: 10%);
                        }
        
                        .promociones__divboton{
                            text-align: center;
        
                            .promociones__boton{
                                color:$colorPrimario;
                                border: 1px solid $colorPrimario;
        
                                &:hover{
                                    background-color: $colorPrimario;
                                    color: $colorSecundario;
                                }
                            }
                        }
                    }
                }
            }
    }
}