.navbarProd{
    @include flex(row,center,center,nowrap);
    background-color: $colorSecundario;
    width: 100%;
    margin: auto;

    .navbarProd__nav{
        @include flex(row,center,center,nowrap);
        
        
        .container-fluid{
            @include flex(row,center,center,nowrap);
            background-color: $colorSecundario;
            width:100%;
            
            

            .navbarProd__boton{
                background-color: $colorPrimario;
            }

            .navbarProd__enlace{
                color:$colorPrimario;
                padding: 0 3rem;
                margin: 0 3re;

                &:hover {
                    transform: scale(1.2);
                    background-color: $colorSecundario;
                    border-radius: 10px;
                    color: lighten($color: $colorPrimario, $amount: 10%);
                }
            }

            .navbarProd__ul{
                background-color: $colorSecundario;
                width: 30rem;
                text-align: center;                
            }
        }
    }
}
