.secTienda{
    @include flex(column,center,center,nowrap);
    background: rgb(223,210,201);
    background: radial-gradient(circle, rgba(223,210,201,1) 64%, rgba(78,115,141,1) 97%, rgba(2,65,110,1) 100%);
    
    .secTienda__h1{
        color: $colorPrimario;
        text-align: center;
        margin-bottom: 7rem;
        padding: 4rem;
        box-shadow: 0 10px 15px $colorBordes;
        width: 100%;
        
        @media (max-width: 576px){
            font-size: 2rem;
        }
    }   
    
    .container{
        width: 80%;
        @include flex(row,center,center,nowrap);
        margin: 0rem auto 7rem auto;

        @media (max-width: 950px){
            flex-direction: column;
        }
        @media (max-width: 570px){
            width: 90%;
        }
        @media (max-width: 300px){
            width: 100%;
        }

        .container__columna{
            @include flex(row,center,center,nowrap);
            margin:0;
            width:100%;

            @media (max-width: 570px){
                flex-direction: column;
            }

            .pag2sec__boton{
                @include flex(column,center,center,nowrap);
                border: 2px outset $colorBordes;
                background-color: $colorSecundario;
                margin: 2rem;
                box-shadow: 0 15px 10px $colorBordes;
                width: 50%;
    
                @media (max-width: 950px){
                    width: 40%;
                }
                @media (max-width: 570px){
                    width: 60%;
                }
                @media (max-width: 370px){
                    width: 80%;
                }
                @media (max-width: 300px){
                    width: 100%;
                }
    
                &:hover{
                    transform: scale(1.1);
                }
    
                .pag2sec__botonimagen{
                    width: 90%;
                    margin-top: 2rem;
                }
    
                .pag2sec__botontexto{
                    text-align: left;
                    margin: 1rem;
                    
                    .pag2sec__botontextoColor1{
                        color: black;
                    }
    
                    .pag2sec__botontextoColor2{
                        color: $colorPrimario;
                    }
    
                    .pag2sec__botontextofondo{
                        background-color: #7ed4f87e;
                        display: inline;
                        padding: 5px;
                    }
                }
    
            }
        }


        .pag2sec__modal{
            background-color: #005c8354;
            
            .modal__fondo{
                display: flex;
                justify-content: center;
                margin-top: 11rem;
            }

            .pag2sec__botontexto{
                text-align: left;
                background-color: white;
                padding: 3rem;

                
                @media (max-width: 400px){
                    display: none;
                }
                
                .pag2sec__botontextoColor1{
                    color: black;
                }

                .pag2sec__botontextoColor2{
                    color: $colorPrimario;
                }

                .pag2sec__botontextofondo{
                    background-color: #7ed4f87e;
                    display: inline;
                    padding: 5px;
                }

                .pag2sec__botontextoEnlace{
                    color:$colorPrimario;
                }
            }
        }
        
    }
}