.seccion404{
    @include flex(column, center,center,nowrap);
    height: 80vh;
    background: rgb(223,210,201);
    background: radial-gradient(circle, rgba(223,210,201,1) 64%, rgba(78,115,141,1) 97%, rgba(2,65,110,1) 100%);

    .container{
        @include flex(column, center,center,nowrap);
        

        .seccion404__h1{
            color: $colorPrimario;
        }

        .seccion404__p{
            color: $colorPrimario;
        }

        .seccion404__boton{
            color: $colorPrimario;
            border: 2px solid $colorPrimario;
            border-radius: 5px;
            
            &:hover{
                box-shadow: 0 10px 10px $colorPrimario;
                background-color: $colorSecundario;
            }

            .seccion404__enlace{
                color: $colorPrimario;
            }
        }
    }
}